.login-container{
    width: 80%;
}

/* facebook login */
.kep-login-facebook{
    background-color: rgb(21, 105, 201) !important;
    color: white !important;
    border: calc(.06887vw + .67769px) solid rgb(21, 105, 201) !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 3px !important;
    width: 99%;
    height: 40px;
    margin: auto;
    margin-top: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important ;
    font-size: 15px !important;
    font-weight: 600 !important;
}
/* facebook login icon */
.fa-facebook:before{
    margin-right: 14px !important;
    font-size: 25px !important;
    color: white(48, 94, 210);
}

/* google login */
.nsm7Bb-HzV7m-LgbsSe-MJoBVe{
    background-color: white;
}
.nsm7Bb-HzV7m-LgbsSe-bN97Pc-sM5MNb{
    width: 230px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto !important;
}
.nsm7Bb-HzV7m-LgbsSe{
    width: 99% !important;
    margin-top: 5px;
    margin: auto !important;
}
/* google login text */
.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-BPrWId{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important ;
    font-weight: 600 !important;
    color: black !important;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px !important;
    /* font-size: calc(.27548vw + 12.71074px); */
    /* text-wrap: wrap !important; */
}
